.views-field-percentage{
  &.donut {
    max-width: 45px;
    max-height: 45px;

    .chart-text {
      font: 16px/1.4em "Montserrat", Arial, sans-serif;
      fill: #000;
      -moz-transform: translateY(0.25em);
      -ms-transform: translateY(0.25em);
      -webkit-transform: translateY(0.25em);
      transform: translateY(0.25em);
    }

    .chart-number {
      font-size: 0.6em;
      line-height: 1;
      text-anchor: middle;
      -moz-transform: translateY(-0.25em);
      -ms-transform: translateY(-0.25em);
      -webkit-transform: translateY(-0.25em);
      transform: translateY(-0.25em);
    }

    .donut-ring{
      fill: transparent;
      stroke: #d2d3d4;
    }
    .donut-segment{
      fill: transparent;
      stroke: #2b9396;
    }
  }
}