
{#
min: {{ range_min }}<br/>
current: {{ range_current }}<br/>
max: {{ range_max }}<br/>
type: {{ range_style_type }}<br/>
#}

{% if range_style_type == 'html' %}
  <progress value="{{ range_current }}" max="{{ range_max }}"></progress> {{ percent }} %
{% endif %}


{% if range_style_type == 'circle_with_percentage' %}
<svg class="donut views-field-percentage">
  <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
  <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-width="3"></circle>

  <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-width="3" stroke-dasharray="{{ percent }} {{ difference }}" stroke-dashoffset="25"></circle>

  <g class="chart-text">
    <text x="50%" y="50%" class="chart-number">
      {{ percent }}%
    </text>
  </g>
</svg>
{% endif %}


{% if range_style_type == 'circle' %}
  <svg class="donut views-field-percentage">
    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-width="3"></circle>

    <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-width="3" stroke-dasharray="{{ percent }} {{ difference }}" stroke-dashoffset="25"></circle>
  </svg>
{% endif %}